 # Data Science Tools and Ecosystem

## Author

Franco Nicolas Cartelli Fernandez

### **In this notebook we will see an introduction to data science tools and ecosystems**

#### **objetives** :

1. **Learn some of the most popular languages in data science**
2. **Learn about some of the most used libraries in Python**
3. **See some of the Tools of Data Scientist**
4. **See some arithmetic Expresion in Jupyter Notebook**

##### some of the popular languages that Data Scientists use are:

1. First Python
2. Second R
3. Third SQL
4. Fourth Apache Spark
5. fifth Julia

##### Some of the commonly used libraries used in Phython by Data Scientist include :

1. First Pandas
2. Second Matplotlib
3. Third scikit learn
4. Fourth Numpy

|Data Science Tools|
|----|
|TensorFlow lite|
|Apache Spark|
|Kafka|

### **Below are a few examples of evaluating arithmetic expressions in Python**

##### This a simple arithmetic expression to mutiply then add integers :

In [6]:
(3*4)+5

17

##### This will convert 200 minutes to hours by diving by 60 :

In [5]:
200/60

3.3333333333333335